body{
  background-image: linear-gradient(to left,pink,orange);
}
#inputBox{
  width: 55vw;
  height: 45px;
  border-radius: 11% ;
  margin-right: 6px;
}
#head{
  background-image: linear-gradient(to left,rgb(250, 135, 154),rgb(160, 140, 140),rgb(214, 141, 4));;
}
.app {
    text-align: center;
    padding: 18px;
  }
  
  .Player {
    display: flex;
    justify-content: center;
  }
  #playerCont{
    padding-top: 19px ;
    height: 45vh;
  }
  #btn{
    padding: 16px;
    border-radius: 34% ;
    background-color: black;
    color: white;
  }
  #btn:hover{
    background-color: aquamarine;
  }